@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .twitter-page {
    @apply h-screen w-full flex items-center justify-center flex-col  text-twitter-blue;
  }

  .convex {
    box-shadow:
      -3px -3px 10px 0px rgba(255, 255, 255, 0.5),
      3px 3px 10px 0px rgba(0, 0, 0, 0.5);
  }
  .concave {
    box-shadow:
      inset -3px -3px 10px 0px rgba(255, 255, 255, 0.5),
      inset 3px 3px 10px 0px rgba(0, 0, 0, 0.5);
  }
}

.submit-button-relief:active {
  box-shadow:
    inset -3px -3px 10px 0px rgba(255, 255, 255, 0.5),
    inset 3px 3px 10px 0px rgba(0, 0, 0, 0.5);
}
